<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarController">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="nav.isCollapsed = !nav.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/admin" class="navbar-brand">
        <img style="width:40px; height:40px; margin-top:-10px" src="../.././assets/images/alemsistem.jpg">
        <label>Admin</label>
      </a> <!-- NAZIV U NAVBARU -->
    </div>
    <div collapse="nav.isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in nav.menuAdmin" ui-sref-active="active">
          <a ui-sref="{{item.state}}">{{item.title}}</a>
        </li>
        <li dropdown>
          <a href="" dropdown-toggle>Stanica<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/admin/stanica/dodavanje">Dodavanje stanica</a></li>
            <li><a href="/admin/stanica/brisanje">Manipulacija stanica</a></li>
          </ul>
        </li>
        <li dropdown>
          <a href="#" dropdown-toggle>Senzor<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/admin/senzor/dodavanje">Dodavanje senzora</a></li>
            <li><a href="/admin/senzor/brisanje">Manipulacija senzora</a></li>
          </ul>
        </li>
        <li dropdown>
          <a href="#" dropdown-toggle>Vrijednost<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/admin/vrijednost/dodavanje">Dodavanje vrijednosti</a></li>
            <li><a href="/admin/vrijednost/brisanje">Manipulacija vrijednosti</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>

