<navbar></navbar>

<header class="hero-unit" id="banner">

  <title>Login portal</title>

  <style>
    html                    { overflow-y:scroll; }
    body                    { padding-top:0px; }
  </style>

</header>


<div class="container">
  <br><br>
  <div id="login-form" class="row" ng-init="errorMsg=false">
    <div class="col-sm-8 col-sm-offset-2 text-center">
      <form>

        <div class="alert alert-danger" role="alert" ng-show="errorMsg">Pogresni korisnički podaci!</div>
        <div class="form-group">
          <input type="text" class="form-control input-lg text-center" placeholder="Username" ng-model="formData.username" autocomplete="off" ><br>
          <input type="password" class="form-control input-lg text-center" placeholder="Password" ng-model="formData.password" >
        </div>

        <!-- LOGIN -->
        <button type="submit" class="btn btn-primary btn-lg" ng-click="login()">LOGIN</button>

      </form>
    </div>
  </div>
</div>



