<navbar-user></navbar-user>

<header class="hero-unit" id="banner">
  <style>
    html                    { overflow-y:scroll; }
    body                    { padding-top:0px; }
  </style>
</header>

<div class="panel panel-default" style="width: 99%">
  <div class="panel-heading"><label>Postavljanje parametara za automatsko generisanje izvjestaja</label></div>
  
  <div style="display:flex; flex-direction:row;">
    <form  style="padding-left:30px; padding-top:2%; ">
      <div class="form-group" style="width:15em;">
        <select class="form-control" ng-model="pregled.id" ng-change="odabranaStanica()">
          <option value="" selected disabled hidden>Odaberite stanicu</option>
          <option name="stanica" ng-repeat="(key,value) in pregled.stanice" value="{{key}}">{{value.Naziv}}</option>
        </select>
        <button id="saveButton" class="btn btn-primary" style="margin-top:1em; width:100%; visibility:hidden;"  ng-click="novoStanje(pregled.stanice[pregled.id].id)">Spasi promjene</button>
      </div>
      <p id="emailParagraph"><b>E-mailovi dolaze na:</b><br> {{ user.email }}</p>
      <input id="emailInput"  class="form-control"  style="display:none;" type="text"  ng-model="user.email" ></input>
      <button id="emailButton" ng-click="button_changeEmail_clicked()" class="btn btn-primary" >Promijeni e-mail</button>
      <button id="cancelEditEmail" ng-click="button_cancelEditEmail_clicked()" style="display:none;" class="btn btn-danger">Odustani</button>
    </form>
      <form id="izvjestajDetails" style="display: flex; flex-direction:row; visibility:hidden" >
        <div style="margin:1em;">

          <label>Dnevni izvještaj:</label><br/>
          <p>{{TrenutniDnevni}}</p>
          
          <button ng-click="buttonDnevni_clicked()"  class="btn btn-primary" >{{ButtonDnevni}}</button><br>
          <button id="ukloniDnevniButton" style="margin-top: 2px;" ng-click="button_ukloniDnevni_clicked()"  class="btn btn-danger">Ukloni izvještaj</button>
          <div id= "dnevniDetails" >
            <div id="dnevniTime" class="input-group" style="width:9em;">
                <input type="text" class="form-control"  ng-model="DnevniTime" ng-value="DnevniTime">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>
          </div>
        </div>
        <div style="margin:1em;">
          <label>Sedmični izvještaj:</label><br/>
          <p>{{TrenutniSedmicni}}</p>
          <button ng-click="buttonSedmicni_clicked() " class="btn btn-primary" >{{ButtonSedmicni}}</button>
          <button id="ukloniSedmicniButton" style="margin-top: 2px;" ng-click="button_ukloniSedmicni_clicked()"  class="btn btn-danger">Ukloni izvještaj</button>
          <div id="sedmicniDetails">
            <select id="sedmicniDay" class="form-control" ng-model="SedmicniDan" >
                <option name="weekDay" ng-repeat="day in weekDays" value="{{day.broj}}">{{day.dan}}</option>
            </select>
            <div id="sedmicniTime" class="input-group" style="width:9em;">
                <input type="text" class="form-control" ng-model="SedmicniTime"  ng-value="SedmicniTime">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>
          </div>
        </div>
        <div style="margin:1em;">
          <label>Mjesečni izvještaj:</label><br/>
          <p>{{TrenutniMjesecni}}</p>
          <button ng-click="buttonMjesecni_clicked()" class="btn btn-primary" >{{ButtonMjesecni}}</button>
          <button id="ukloniMjesecniButton" style="margin-top: 2px;" ng-click="button_ukloniMjesecni_clicked()"  class="btn btn-danger">Ukloni izvještaj</button>
          <div id="mjesecniDetails">
              <select id="mjesecniDay" class="form-control" ng-model="MjesecniDan"  >
                  <option name="monthDay" ng-repeat="day in monthDays" value="{{day}}">{{day}}</option>
              </select>
              <div id="mjesecniTime" class="input-group" style="width:9em;">
                  <input type="text" class="form-control"  ng-model="MjesecniTime" ng-value="MjesecniTime">
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-time"></span>
                  </span>
              </div>
          </div>
        </div>
        
      </form>
    </div>
     <!-- <div class="form-group">
        <input class="form-control" value="Dnevni: {{pregled.stanice[pregled.id].Dnevni}}" readonly>
      </div>
      <div class="form-group">
        <input class="form-control" value="Sedmicni: {{pregled.stanice[pregled.id].Sedmicni}}" readonly>
      </div>
      <div class="form-group">
        <input class="form-control" value="Mjesecni: {{pregled.stanice[pregled.id].Mjesecni}}" readonly>
      </div>
  
      <select class="form-control" ng-model="dnevni">
        <option value="" selected disabled hidden>Dnevni</option>
        <option value="1">Da</option>
        <option value="0">Ne</option>
      </select>
  
      <select class="form-control" ng-model="sedmicni">
        <option value="" selected disabled hidden>Sedmicni</option>
        <option value="1">Da</option>
        <option value="0">Ne</option>
      </select>
  
      <select class="form-control" ng-model="mjesecni">
        <option value="" selected disabled hidden>Mjesecni</option>
        <option value="1">Da</option>
        <option value="0">Ne</option>
      </select>
  
        -->
  <div class="panel-footer"><label></label></div>
</div>

